.logo{
  height: 100px;
  width: 100px
}
.navigation{
  height: 100px;
}
.card{
  height: 100px;
  width: 300px;
}
.author{
  height:80px;
  width: 80px
  
}
.author2{

  height:50px;
  width: 30px
}
.design{
  height: 200px;
  width: 200px
}
.design-top{
  height:'40px';
   width:'40px'
}
.profile-image{
  height: 35px;
  width: 35px;
}