.logo{
  height: 100px;
  width: 100px
}
.card{
  height: 300px;
  width: 300px;
}
.author{
  height:80px;
  width: 80px
}
.design{
  height: 200px;
  width: 200px
}
.design-top{
  height:'40px';
   width:'40px'
}